{% extends "blogpost_base.html" %} 
{% load comments %}
{% load bbcode_tags %}

{% block title %}
	<div class="topbar-detail-content">
		<div class="container">
			<span class="topbar-detail-category">{{ blogpost.category }}</span>
			<h1 class="topbar-detail-title">{{ blogpost.title }}</h1>
			<div class="topbar-detail-text">{{ blogpost.shortcontent | safe }}</div>
		</div>
	</div>
{% endblock %}

{% block postlist %}
{% if user.is_authenticated %}
	{% if user.is_superuser or user = blogpost.author %}
	<div class="post-action-link">
		<a href="{% url 'edit_post' blogpost.pk %}" class="edit-post"><span class="glyphicon glyphicon-pencil"></span></a>
		<a href="#" class="delete-post"><span class="glyphicon glyphicon-remove-circle"></span></a>
	</div>
	{% endif %}
{% endif %}
<div class="post-detail">
	<div class="post-detail-fulltext">{{ blogpost.fulltext | safe }}</div>
	{% with names=blogpost.tags.names %}
	{% if names.count > 0 %}
	<div class="post-tags">
		{% for name in names %}
		<a class="post-tag" href="{% url 'search_by_tag' tag=name %}"> {{ name }} </a>
		{% endfor %}
	</div>
	{% endif %}
	{% endwith %}		
	<div class="post-footer">
		<div class="post_author">{{ blogpost.author }}</div>
		<div class="post_rating">
			<button id="vote-down" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button>
			<span id="current_rating"> {{ blogpost.get_post_rating }} </span>
			<button id="vote-up" class="btn btn-default"><span id="#vote_down" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
		</div>
		<div class="post_date">{{ blogpost.creation_date }}</div>
	</div>
	<div class="post-comment-list">
		{% get_comment_list for blogpost as comment_list %}
		{% for comment in comment_list %}
			<div class="post-comment">
				<div class="comment-author">{{ comment.user_name }} </div>
				{% if comment.is_removed %}
				<div class="comment-body text-muted">Комментарий удален</div>
				{% else %}
				<div class="comment-body">{{ comment.comment }}</div>
				{% endif %}
				<div class="comment-date">{{ comment.submit_date }}</div>
			</div>
		{% endfor %}
	</div>
	{% if user.is_authenticated and blogpost.is_commentable %}
	<form action="{% comment_form_target %}" method="post">
		<div class="post-comment-form">
		{% get_comment_form for blogpost as form %}
		
		{% csrf_token %}
		{% for field in form.hidden_fields %}
			{{ field }}
		{% endfor %}
		{% for field in form.visible_fields %}
			{% if field.errors.count > 0 %}
			<div class="form-field">
				<div class="error-list">
					{{ field.errors }}
				</div>
			</div>
			{% endif %}
			{% if field.name == "honeypot" %}
			<div class="form-field">
				<div style="display:none;">
					{{ field }}
				</div>
			</div>
			{% elif field.name == "name" or field.name == "email" or field.name == "url" %}
			{# None #}
			{% else %}
			<div class="form-field comment-input">
				<input class="form-control" id ="id_{{ field.name }}" type="text" name = "{{ field.name }}" placeholder="Комментарии?">
			</div>
			{% endif %}
		{% endfor %}
			<input type="hidden" name="next" value='{{ request.path }}'> <!--Перенаправление на ту же страницу -->
			<button type="submit" class="save btn btn-success">Отправить</button>
		</div>			
	</form>
	{% endif %}

</div>	
	<script>
		$('.action-modal').click(function(event){
			if(!$(event.target).closest('.action-modal-container').length) {
				$('.action-modal').fadeOut();
			}        
		});
		$(".delete-post").click(function(){
			$('.action-modal').css('display','flex').hide().fadeIn(200);
		});
		$(".action-modal-buttons .btn-success").click(function(){
			 window.location = "{% url 'delete_post' blogpost.pk %}";
		});
		$(".action-modal-buttons .btn-danger").click(function(){
			$('.action-modal').fadeOut(200);
		});
	</script>
	
	<script type="text/javascript">
	$(document).ready(function(){
		var id = {{ blogpost.pk }}
		$.ajaxSetup({
			data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		});

		//Объединить в одну конструкцию
		$("#vote-up,#vote-down").click(function(){
			if ($(this).attr('id') == "vote-up") {
				var vote_type = "up"
			} else {
				var vote_type = "down"
			}
			var vote_action = "vote"
			$.ajax({
				type: "POST",
				url: '{% url 'post_vote' blogpost.pk %}',
				context: {csrfmiddlewaretoken: '{{ csrf_token }}'},
				data: {id:id,type:vote_type,action:vote_action},
				success: function(response){
							if ($("#current_rating").html() != response){
								$("#current_rating").fadeOut(200,function(){
									$("#current_rating").html(response);
									$("#current_rating").fadeIn();
								});											
							};
						}
			});
		});
	});
	</script>
{% endblock %}


