{% extends "blogpost_base.html" %}    
{% load comments %}
{% load bbcode_tags %}


{% block postlist %}
	{% for post in object_list %}
		{% get_comment_count for post as comment_count %}
		<div class="post">
			<span class="post-category"><a href="{% url 'search_by_category' category=post.category %}"> {{ post.category }} </a></span>
			{% if post.get_post_rating > 0 %}
			<span class="postlist-rating positive">+{{ post.get_post_rating }}</span>
			{% elif post.get_post_rating = 0 %}
			<span class="postlist-rating">{{ post.get_post_rating }}</span>
			{% else %}
			<span class="postlist-rating negative">{{ post.get_post_rating }}</span>
			{% endif %}
			<div class="post-image">
				<img src="" alt="">
			</div>
			<a class="post-content" href="{{ post.get_absolute_url }}">
				<h3 class="post-title">{{ post.title }}</h3>
				<div class="post-descr">{{ post.shortcontent | safe }}</div>
				<div class="postlist-footer">
					<p class="postlist-author">{{ post.author }}</p>
					<p class="postlist-comments">{{ comment_count }}</p>
				</div>
			</a>
		</div>	
		{% empty %}
			<p>Статей не обнаружено<p>
	{% endfor %}
{% endblock %}


{% block postlist-paginator %}
	{% if is_paginated %}
	<nav class="flex-pagination">
		<ul class="pager">
			{% if page_obj.has_previous %}
			<li class="previous"><a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Свежее</a></li>
			{% else %}
			<li class="previous disabled"><a><span aria-hidden="true">&larr;</span>Свежее </a></li>
			{% endif %}
			
			{% if page_obj.has_next %}
			<li class="next"><a href="?page={{ page_obj.next_page_number }}">Старее<span aria-hidden="true">&rarr;</span></a></li>
			{% else %}
			<li class="next disabled"><a>Старее<span aria-hidden="true">&rarr;</span></a></li>
			{% endif %}
		</ul>
	</nav>
	{% endif %}
{% endblock %}


