{% extends "blogpost_base.html" %}    
{% load comments %}
{% load bbcode_tags %}
{% block heading %}

	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		{% for i in slider_range %}
			{% if i = 0 %}
			<li data-target="#myCarousel" data-slide-to="{{ i }}" class="active"></li>
			{% else %}
			<li data-target="#myCarousel" data-slide-to="{{ i }}"></li>
			{% endif %}
		{% endfor %}
		</ol>
		<div class="carousel-inner" role="listbox">
			{% for post in slider_post %}
				{% if post.is_active %}
			<div class="item active">
				{% else %}
			<div class="item">
				{% endif %}
				<img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
				<div class="container">
					<div class="carousel-caption">
						<h1>{{ post.title }}</h1>
						<p>{{ post.description }}</p>
						{% if post.main_post %}
						<p><a class="btn btn-lg btn-primary" href="{{ post.get_link_to_post }}" role="button">Перейти</a></p>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div><!-- /.carousel -->

{% endblock %}

{% block postlist %}
	{% for post in object_list %}
			{% get_comment_count for post as comment_count %}
			<h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
			<p>{{ post.shortcontent | safe }}</p>
			<!--<p>{{ post.pk }}</p>-->
			<div class="list-post-footer">
				<ul class="list-inline list-unstyled text-right">
					<li>{{ post.creation_date }}</li>
					<li>{{ post.author }}</li>
					<li class="comment-count">{{ comment_count }}</li>
				</ul>
			</div>
		{% empty %}
			<p>Статей не обнаружено<p>
	{% endfor %}
	
{% endblock %}


{% block postlist-paginator %}
	{% if is_paginated %}
	<nav class="flex-pagination">
		<ul class="pager">
			{% if page_obj.has_previous %}
			<li class="previous"><a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Свежее</a></li>
			{% else %}
			<li class="previous disabled"><a><span aria-hidden="true">&larr;</span>Свежее </a></li>
			{% endif %}
			
			{% if page_obj.has_next %}
			<li class="next"><a href="?page={{ page_obj.next_page_number }}">Старее<span aria-hidden="true">&rarr;</span></a></li>
			{% else %}
			<li class="next disabled"><a>Старее<span aria-hidden="true">&rarr;</span></a></li>
			{% endif %}
		</ul>
	</nav>
	{% endif %}
{% endblock %}

{% block differentlinks %}
	{% if user.is_authenticated %}
		<div class="side-btns">
			<div class="edit_btns">
				<a class="addpost glyphicon glyphicon-plus" href="{% url 'myblog.views.add_post'%}"></a>
				<a class="mydrafts glyphicon glyphicon-ok-sign" href="{% url 'list_draft'%}"></a>
			</div>
			<a class='show_add_post glyphicon glyphicon-chevron-right'></a>
		</div>
		<script type="text/javascript">
			$(".show_add_post").click(function(){
				$(".addpost").animate({width:"toggle"});
				$(".mydrafts").animate({width:"toggle"});
				$(".show_add_post").toggleClass("glyphicon-chevron-right glyphicon-chevron-left");
			});
		</script>
	{% endif %}
{% endblock %}

