<!DOCTYPE html> 
<html lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Booking</title>
		<script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
		{% block style %}
		{% endblock %}
	</head>
	<body>
		{% block content %}
		{% endblock %}
		
		{% block javascript %}
		{% endblock %}
	</body>
</html>