{% extends 'base.html' %}
{% load staticfiles %}

{% block javascript %}
	<script src="{% static 'booking/js/booking.js' %}"></script>
{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'booking/css/booking.css' %}" />
{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="calendar">
		<div class="months">
			<span class="left">&#10094;</span>
			<span class="right">&#10095;</span>
			<span class="current-month"></span>
			<span class="current-year"></span>
		</div>
		<div class="days">
			<div class="weekdays">
				<div>Mo</div>
				<div>Tu</div>
				<div>We</div>
				<div>Th</div>
				<div>Fr</div>
				<div>Sa</div>
				<div>Su</div>
			</div>
			<div class="datedays">
			</div>
		</div>
	</div>
</div>
<div id="myModal" class="modal">

</div>
{% endblock %}